@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.scroll-indicator {
  animation: chevronUpAnimation 1.5s infinite linear;
}

@keyframes chevronUpAnimation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(-0px);
  }
}

svg,
.logo {
  font-family: "Montserrat", sans-serif;
}
.text-outline {
  text-shadow: 5px 5px 0 #fffbf7, 5px -5px 0 #fffbf7, -5px 5px 0 #fffbf7,
    -5px -5px 0 #fffbf7;
}

.text-outline-small {
  text-shadow: 2px 2px 0 #fffbf7, 2px -2px 0 #fffbf7, -2px 2px 0 #fffbf7,
    -2px -2px 0 #fffbf7;
}

.spin {
  animation: rotate 60s linear infinite; /* Infinite rotation */
}
.container {
  height: 100vh;
  scroll-snap-type: y mandatory; /* Snap scrolling on the Y-axis */
  overflow-y: scroll; /* Enable vertical scrolling */
  width: 100vw;
}
.section {
  height: 100vh; /* Full viewport height */
  scroll-snap-align: start; /* Snap alignment for each section */
}
.cursive-text {
  font-family: "Allura", cursive;
}

.minute-hand {
  animation: rotate 2s linear infinite; /* 1 minute for a full rotation, 10x faster */
}

.hour-hand {
  animation: rotate 24s linear infinite; /* 12 hours for a full rotation, 10x faster */
}

.Typewriter__wrapper {
  color: #dea193 !important;
  font-family: "Montserrat", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}
.story {
  font-family: "Caveat", cursive;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.year-scroll {
  transform: translateY(-1000%);
  animation: scroll 2s ease-in-out;
  color: #dea193;
}
.num-scroll {
  animation: numscroll 2s ease-in-out;
  color: #dea193;
  transform: translateY(calc(-1 * (var(--count)) * 200px));
}
@keyframes numscroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(calc(-1 * (var(--count)) * 200px));
  }
}
@keyframes scroll {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-1000%);
  }
}

.animation-svg {
  animation: write 2s ease-in;
  overflow: hidden;
  text-align: center;
}
@keyframes write {
  from {
    width: 0%;
    text-align: center;
  }
  to {
    width: 100%;
    text-align: center;
  }
}

.flipbook-container {
  height: 500px; /* Match FlipBook height */
  overflow: hidden;
  position: relative;
  /* max-width: 500px;  */
  margin: 0 auto; /* Optional: Center */
}
.flipbook-container::after {
  position: absolute;
  content: " ";
  height: 100%;
  width: 80px;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.4) 80%,

    rgba(0, 0, 0, 0.8) 100%
  );
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.page-bg {
  position: relative;

  overflow: hidden; /* Prevent pseudo-element overflow */
}

.page-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./images/bg.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(0.5px); /* Apply the blur effect */
  z-index: -1; /* Keep it behind the content */
}

.page-bg-2 {
  position: relative;

  overflow: hidden; /* Prevent pseudo-element overflow */
}

.page-bg-2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("./images/bg.webp") no-repeat center center;
  background-size: cover;
  filter: blur(0.5px); /* Apply the blur effect */
  z-index: -1; /* Keep it behind the content */
}
.paper-effect {
  position: relative;
  background-color: #fef8cc; /* Paper-like background */
  color: #433e36; /* Text color */
  padding: 20px;
  border: 2px solid #433e36; /* Border color */

  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.paper-effect::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  height: 30px;
  width: 80px;
  border: 1px solid gray;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.6),
    white,
    rgba(255, 255, 255, 0.8),
    white
  );
  clip-path: polygon(
    0% 0%,
    5% 0%,
    10% 50%,
    /* Top-left straight */ 5% 5%,
    10% 25%,
    /* First zigzag on the left */ 0% 90%,
    15% 80%,
    /* Last zigzag on the left */ 5% 100%,
    10% 100%,
    /* Bottom-left straight */ 100% 100%,
    5% 100%,
    /* Bottom-right straight */ 95% 95%,
    90% 40%,
    100% 40%,
    90% 40%,

    /* Last zigzag on the right */ 100% 10%,
    95% 5%,
    /* First zigzag on the right */ 95% 0%,
    100% 0% /* Top-right straight */
  );
}

.wishing {
  background-color: #fffbf7;
  height: 500px;
  width: 450px;
  max-height: 95%;
  max-width: 95%;
  color: #dea193;
  box-shadow: 5px 5px 15px rgba(67, 62, 54, 1); /* Darker and more spread */
  clip-path: polygon(
    0% 0%,
    5% 0%,
    10% 50%,
    20% 10%,
    10% 25%,
    0% 90%,
    15% 80%,
    5% 100%,
    10% 100%,
    100% 100%,
    90% 50%,
    80% 60%,
    50% 100%,
    5% 100%,
    95% 95%,
    90% 70%,
    90% 40%,
    100% 40%,
    90% 40%,
    100% 10%,
    95% 5%,
    95% 0%,
    100% 0%
  );
  z-index: 1;
  position: relative; /* Ensure pseudo-elements are positioned correctly */
}

.wishing-shadow {
  content: " ";
  position: absolute;
  /* opacity: 0.5; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(400px);
  transform: translate(15px, 10px) scale(0.85);
  background: rgb(32, 31, 31); /* Inherit background color */
  box-shadow: 5px 5px 15px rgba(67, 62, 54, 0.8); /* Shadow applied through pseudo-element */
  z-index: 0; /* Put the shadow behind the main element */
  clip-path: polygon(
    0% 0%,
    5% 0%,
    10% 50%,
    20% 10%,
    10% 25%,
    0% 90%,
    15% 80%,
    5% 100%,
    10% 100%,
    100% 100%,
    90% 50%,
    80% 60%,
    50% 100%,
    5% 100%,
    95% 95%,
    90% 70%,
    90% 40%,
    100% 40%,
    90% 40%,
    100% 10%,
    95% 5%,
    95% 0%,
    100% 0%
  );
}
.hello {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: write 5s ease-in-out infinite;
}

@keyframes write {
  to {
    stroke-dashoffset: 0;
  }
}

.book-header {
  border: 2px solid gray;
  background: linear-gradient(
    130deg,
    rgba(255, 255, 255, 0.6),
    white,
    rgba(255, 255, 255, 0.8),
    white
  );
  color: #8b0000;
  clip-path: polygon(
    0% 0%,
    5% 0%,
    10% 50%,
    20% 10%,
    10% 25%,
    0% 90%,
    15% 80%,
    5% 100%,
    10% 100%,
    100% 100%,
    90% 50%,
    80% 60%,
    50% 100%,
    5% 100%,
    95% 95%,
    90% 70%,
    90% 40%,
    100% 40%,
    90% 40%,
    60% 45%,
    70% 70%,
    85% 99%,
    100% 0%
  );
}
