@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
svg,
.logo {
  font-family: "Montserrat", sans-serif;
}
.logo {
  text-shadow: 5px 5px 0 #28282b, 5px -5px 0 #28282b, -5px 5px 0 #28282b,
    -5px -5px 0 #28282b;
}
.spin {
  animation: rotate 60s linear infinite; /* Infinite rotation */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
